header, #education, #related-experience, #favorites, footer{
color: black;
font: 13px/20px "Arial";
margin-left: 19%;
margin-top: 40px;
}

header {
font-size: 40px;
text-align: center;
margin-left: 0%;
margin-top: 50px;
}

h2 {
font-size: 20px;
}

h3 {
margin-left: 45px;
}

ul {
font-size: 16px;
margin-left: 50px;
}

footer {
font-size: 16px;
margin-bottom: 50px;
}
